<h1>Data Collector App</h1>
<form method="post" action="/savedata/">
    {% csrf_token %}
    {{formobj.as_p}}
    <input type="submit">
</form>
<hr>
<table>
    <tr><th>NAME</th> <th>MOBILE</th> <th>GENDER</th></tr>
    {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.gender}}</td>
            <td>
                <a href="/remove/{{i.id}}">Remove</a>
            </td>
        </tr>
    {% endfor %}
</table>